{% load staticfiles %}
<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>Home</title>
			<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
			<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Favorites Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->	
	<!-- js -->
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	<!-- js -->
	<!-- cart -->
		<script src=" {% static "js/simpleCart.min.js" %}"> </script>
	<!-- cart -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
		<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
			
			function getCookie(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }


		    $.ajaxSetup({
		      beforeSend: function(xhr, settings){ 

		          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));              //request头需要添加csrftoken,告诉服务器，我是个好yin哪，我是正常访问者
		      }
		    });
		</script>
	<!-- start-smoth-scrolling -->
	<!-- manu -->
		 <script type="text/javascript" src="{% static "js/wan-spinner.js" %}"></script>

</head>
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="top-header">
				<div class="header-left">
					<p>Infinera Beijing Lunch Order System</p>
				</div>
				<div class="login-section">
				{% if user_login %}
					<ul>
					<li><p> Welcome {{ user_name }}</p> </li> |
					<li><a href="{% url "logout" %}">Log out</a> </li>
					</ul>
				{% else %}
					<ul>
						<li><a href="{% url "login" %}">Login</a> </li> |
						<li><a href="{% url "register" %}">Register</a> </li>
					</ul>
				{% endif %}
				</div>

				<div class="header-right">
						<div class="cart box_1">
							<a href="{% url 'homepage' %}"><h3>HomePage</h3></a>
							<div class="clearfix"> </div>
						</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>

<div class="infineralogo">
	<img src="{% static "images/InfineraLogo.jpg" %}" />
</div>

<!-- 
{% if password_is_wrong %}
<h4>error</h4>
{% endif %}
<body>
<div class="well">
<form method='post'>
	{% csrf_token %} 
	<table>
		{% for item in form %}
		<tr>
			<th>{{ item.label_tag}}</th>
			</br>
			<th>{{ item}}</th>
		</tr>
	{% endfor %}
	</table>
	</br>
	<input type="submit" value="Login"></br></br>
	<a href="{% url "register" %}">Register</a>
</form>
</div> -->
<div>
	<div class="basic-personal-info">
		<h3>UserName:</h3>
		<h4>{{user_name}}</h4>
	</div>
	<div class="clearfix"></div>
	<div class="latest-order">
		<table class="order-table" border="1">
			<tr>
				<th>OrderId</th>
				<th>Order Time</th>
				<th>LunchName</th>
				<th>Restaurant Name</th>
				<th>Quantity</th>
				<th>State</th>
			</tr>
			{% for key, values in order_dict.items %}
						{% for value in values %} <!-- key is serial no, value is objects list -->
						<tr>
							{% if forloop.first %}
							<td rowspan="{{values|length}}"> {{key}}</td>
							<td rowspan="{{values|length}}"> {{value.order_time }}</td>
							{%endif%}
							<td> {{value.cousine.cousine_name }}</td>
							<td> {{value.cousine.restaurant_name}}</td>
							<td> {{value.quantity }}</td>
							{% if forloop.first %}
								<td rowspan="{{values|length}}"> {{value.order_state }}</td>
							{%endif%}
						</tr>
						{% endfor %}					
			</tr>
			{% endfor %}
		</table>
		</div>
		<div class="clearfix"></div>
		</br>
		</br>
	<div class="history-order">
		<h3>History Orders</h3>
		<table class="order-table" border="1">
			<tr>
				<th>OrderId</th>
				<th>Order Time</th>
				<th>LunchName</th>
				<th>Restaurant Name</th>
				<th>Quantity</th>
				<th>State</th>
			</tr>
			{% for key, values in history_order.items %}
						{% for value in values %} <!-- key is serial no, value is objects list -->
						<tr>
							{% if forloop.first %}
							<td rowspan="{{values|length}}"> {{key}}</td>
							<td rowspan="{{values|length}}"> {{value.order_time }}</td>
							{%endif%}
							<td> {{value.cousine.cousine_name }}</td>
							<td> {{value.cousine.restaurant_name}}</td>
							<td> {{value.quantity }}</td>
							{% if forloop.first %}
								<td rowspan="{{values|length}}"> {{value.order_state }}</td>
							{%endif%}
						</tr>
						{% endfor %}					
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="footer-top">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3><a href="#">Food</a></h3>
		</div>
		<div class="col-md-3 footer-grid">
			<h4>ORDERS</h4>
			<p>MONDAY - FRIDAY<span>8 : 00 - 10 : 00</span></p>
		</div>

		<div class="col-md-3 footer-grid">
			<h4>ADDRESS</h4>
			<ul>
				<li class="list-one">Order when you have meetings</li>
				<li class="list-two"><a href="mailto:xxx@infinera.com">xxx@infinera.com</a></li>
			</ul>
		</div>
		<!--  <div class="clearfix"></div> -->
	</div>
</div>

<!-- //footer-top -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-left">
			<p>Copyright &copy; 2016.Infinera Technology(Beijing). All rights reserved.More Templates <a href="http://www.infinera.com" target="_blank" title="CSIM ">CSIM Support</a> - Collect from <a href="http://www.cssmoban.com/" title="Food" target="_blank">Food</a></p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</body>
</html>
