{% load staticfiles %}
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>User Register</title>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
</head> 
<body>
<div class="infineralogo">
<img src="{% static "images/InfineraLogo.jpg" %}" />
</div>

<div class="menu">
	<div class="container">
		<div class="our-menu-grids">
		<h2 ><font color="#00FF00" style="font-weight:bold">Register Successfully!</font></h3>
		<br/>
		<p style="font-size: 18px">To explore the amazing site, please <a href="{% url "login" %}">go to login</a>.</p>
		</div>
	</div>
</div>

</body>
</html>